<div class="row">
  <div>
    <div class="left">
      <gojs-diagram #myDiagram [divClassName]='diagramDivClassName' [initDiagram]='initDiagram'
                    [nodeDataArray]='state.diagramNodeData' [linkDataArray]='state.diagramLinkData'
                    [modelData]='state.paletteModelData' (modelChange)='diagramModelChange($event)'>
      </gojs-diagram>
    </div>
    <div>
      <div class="left">
        <h6 class="display-9">Visión general</h6>
        <gojs-overview #myOverview [initOverview]='initOverview' [divClassName]='oDivClassName'
                       [observedDiagram]='observedDiagram'></gojs-overview>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="mt-3">
    <button class="btn btn-three" (click)="saveChanges()">Guardar Cambios</button>
  </div>
</div>
<h1>Este es un cambio</h1>